<div class="titre">Inscription</div>

<form class="inscription" [formGroup]="inscription">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Pseudo" formControlName="pseudo">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Mot de passe" formControlName="password">
  </mat-form-field>
</form>

<button mat-flat-button
        [disabled]="!inscription.valid"
        (click)="valideInscription()">
  Valider</button>


