:host{
  display: block;
  width: 100%;
  text-align: center;
}

.titre{
  margin-top: 10%;
  font-size: 24px;
  text-decoration: underline;
}

form.inscription{
  display: flex;
  flex-direction: column;
  margin-top: 15%;

  mat-form-field{
    margin: 1% 15%;
    width: 70%;
  }
}

button{
  margin-top: 20%;
  border-radius: 12%;
  background-color: #71dc9e;
}



