:host{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  background-color: #58d68d;
}

mat-icon{
  margin: 10% 0;
}

img{
  height: 100px;
  width: 90px;
}

.titre{
  font-size: 22px;
  margin: 10% 0;
}




