<mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Scan</button>
  <button mat-menu-item>Historique</button>
</mat-menu>

<div class="titre">Open-Fact-Food</div>

<img src="assets/picture/ananas-cartoon.png">
