:host{
  display: flex;
  flex-direction: column;
}

.bienvenue{
  margin-top: 5%;
  margin-left: 20%;
  font-size: 24px;
  font-weight: 400;
}

img.check{
  width: 50%;
  height: 50%;
  margin: 0 30%;
}

.validation{
  margin-top: 10%;
  text-align: center;
}

.scanner{
  margin-top: 20%;
  text-align: center;
}

img.scanSearch{
  width: 50%;
  height: 80%;
  margin: 4% 25%;
}

button{
  border: 1px solid black;
  width: 50%;
  height: 100%;
  margin: 4% 25%;

  img.scanSearch{
    width: 60%;
    height: 60%;
    margin: 10% 15%;
  }
}

