<div class="bienvenue">Bienvenue {{user.getPseudo()}}</div>

<div class="validation">Vous avez bien validé votre inscription</div>
<img class="check" src="assets/picture/validation.png">


<div class="scanner">Scanner votre premier produit</div>
<button mat-flat-button>
  <img class="scanSearch" src="assets/picture/scan-search.png">
</button>

